<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 가입</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<body>
    <div class="container" style="display: flex; justify-content: center; align-content: center; align-items: center; flex-direction: column; margin: 200px auto; ">
        <h1>회원 가입</h1>

    </div>

    <script th:inline="javascript">
        $(document).ready(function() {
            // kakao 인가 코드로 kakaoAccessToken 받기
            $.ajax({
                url: 'https://kauth.kakao.com/oauth/token',
                type: 'POST',
                data: {
                    grant_type: 'authorization_code',
                    client_id: [[${clientId}]],
                    code: [[${code}]]
                },
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                dataType: 'json',
                success: function(response) {
                    // kakaoAccessToken 을 이용한 서비스 로그인 시도
                    var kakaoAccessToken = response.access_token;
                    $.ajax({
                        url: 'http://localhost:8000/user/login/kakao?token=' + kakaoAccessToken,
                        type: 'POST',
                        contentType: 'application/json; charset=UTF-8',
                        dataType: 'json',
                        success: function(response) {
                            // 성공이면, accessToken 설정 및 메인 페이지 리다이렉트
                            console.log(response);
                        },
                        error: function(request, status, error) {
                            // 실패이면, 회원가입 진행
                            console.error(error);
                        }
                    });
                },
                error: function(request, status, error) {
                    console.error(error);
                }
            });
        })

    </script>
</body>
</html>